.container{
    text-align: center;
    margin-top: 23px;
    
}
table{
    margin: auto;
}

input{
    border: 5px solid #244624;
    border-radius: 21px;
    font-size: 34px;
    
}

button{
    font-size: 23px;
    background-color: aquamarine;
    width: 102px;
    height: 58px;
    border-radius:20px ;
  
}

.calculator{
    background-color: bisque;
    padding:23px;
    border-radius: 53px;
    display:inline-block;
}